.photo-details-modal {
  background-color: white;
  box-shadow: 0 0 0 50vmax rgba(0, 0, 0, .5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 800px;
  height: 80vh;
  overflow-y: scroll;
  border-radius: 12px;
}

.photo-details-modal__close-button {
  background-color: white;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 16px;
  margin-top: 16px;
}

.photo-details-modal__article {
  position: relative;

  margin: top;
  padding: 16px;
}

.photo-details-modal__images {
  display: flex;
  flex-wrap: wrap;
  margin-left: 36px;
  margin-top: 8px;
}

.photo-details-modal__image {
  max-width: 95%;
  border-radius: 8px;

}

.PhotoFavButton {
  position: absolute;
  top: 0;
  left: 0;
}

.photo-details-modal__photo-container {
  position: relative;
  padding-left: 40px;
}

.photo-details-modal__top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
  margin: 16px;
  margin-top: 8px;
  align-items: center;
  background-color: white;
  padding: 8px 16px;
}

.photo-details-modal__photographer-details {
  display: flex;
  font-size: 16px;
}

.photo-details-modal__header {
  font-size: 18px;
  font-weight: 500;
  color: #1e1e1e;
  margin-top: 24px;
  margin-bottom: 24px;
  width: 90%;
}

.photo-details-modal__photographer-location {
  color: #838383;
}
.photo-details-modal__photographer-profile {
  object-fit: cover;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 8px;
  width: 40px;
  height: 40px;
}

.photo-details-modal__photographer-info {
  margin-top: 5px;
  font-weight: 700;
  font-size: 12px;
  margin-left: 8px;
}

.photo-details-modal__user-data-dev {
  display: flex;
  align-items: flex-start;
}

.photo-details-modal__user-info {
  margin-left: 10px;
}

